# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
*.env*
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
pgadmin
pgdata
